
body{
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}

a{
    color: black;
    text-decoration: none;
}




.search-box{
    display: block;
    margin-right: auto;
    margin-left: 500px;
    padding: 20px;
    
    
}
.search-box .search{
    border-radius: 10px;
    color:cornsilk;
    border-color: cornsilk;
    
    
}
.search-box .submit{
    background-color: cornsilk;
    
}

/*the logo part*/
.logo img{
    clear: both;
   display: block;
   margin: 0 auto;
   padding: 20px;
   
}

/* the footer part*/
.footer{
    display: flexbox;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(241, 241, 236);
    position: fixed;
    left: 0%;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding:  15px;
    box-sizing: border-box;

}
.footer .left-side{
    float: left;
    margin: 0 12px;
    display: block;
    white-space: nowrap;
    padding: 20px;
    
    
}
.footer .right-side{
    float: right;
    margin: 0 12px;
    display: block;
    padding: 20px;
}

ul{
    list-style-type: none;
    margin:0%;
    padding: 0%;
    
}
li{
    display: inline;
    padding-left: 15px;
    
}

